<h2>Add a new stylist</h2>

<form action="/stylists" method="post">

<label for="newStylistName">Enter the name of the new stylist</label>
<input id="newStylistName" name="newStylistName" type="text">

<br><button type="submit">Add Stylist</button>

<p><a href="/">Back home</a></p>
<p><a href="/stylists">Back to list of stylists</a></p>

</form>
