<form action="/stylists" method="post">

<label for="newStylistName">Enter the name of the new stylist</label>
<input id="newStylistName" name="newStylistName" type="text">

<br><button type="submit">Add Stylist</button>

</form>
