@{
  Layout = "_Layout";
}
@using HairSalon.Models;

<h1>The Stylists who work for you</h1>

<a href="/">Home</a><br>
<a href="/stylists/new">Add a new stylist</a>


<form action="/stylists/deleteall" method="post">
    <label for="truncateStylists">Delete all Stylists</label>
    <button type="submit">Remove all Stylists</button>

<br><br><br>

<table class="table">
  <tbody>
    @foreach(var stylist in Model)
    {
      <tr>
        <td><a href="/stylists/@stylist.Id">@stylist.Name</a></td>
      </tr>
    }
  </tbody>
</table
