<h1>The Stylists who work for you</h1>

<a href="/">Home</a>
<a href="/stylists/new">Add a new stylist</a>

<ul>
@foreach (var stylist in Model)
{
<li><a href="/stylists/@stylist.GetId()">@stylist.GetName()</a></li>
}
</ul>
