@{
  Layout = "_Layout";
}
@using HairSalon.Models;

<h1>List of Specialties your Hair Salon offers</h1>

<a href="/">Home</a><br>
<a href="/stylists/new">Add a new specialty</a>

<br><br><br>

<table class="table">
  <tbody>
    @foreach(var specialty in Model)
    {
      <tr>
        <td><a href="/specialties/@specialty.Id">@specialty.Type</a></td>
      </tr>
    }
  </tbody>
</table
