<!-- @{
  Layout = "_Layout";
} -->
<h1>Welcome to the Hair Salon</h1>
<div class="container">

<a href="/specialties">Specialties</a><br>

<a href="/stylists">Stylists</a><br>

<a href="/clients">Clients</a><br>
</div>
