@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<h1>Add a new client</h1>
<div class="container">
<form action='/clients' method='post'>

<label for='newClientName'>Client name</label>
<input id='newClientName' name='newClientName' type='text'>
<br><br>

<label for='date'>Client's Birthday</label>
<input name='date' type='date' required>
<br><br>

<label for='StylistId'>Select a Stylist</label>
<select class="form-control" name="StylistId">
<option class="form-control" value="">

@foreach(Stylist stylist in Stylist.GetAll())
{
<option class="form-control" value="@stylist.Id">@stylist.Name</option>
}
</select>
<br><br>
<button type='submit'>Add new client</button>

</form>
</div>
